a {
   color: #1a1a1a;
}


/****** 헤더 시작 ******/

header {
   height: 106px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#header_wrapper {
   width: 1000px;
   height: inherit;
   margin: 0 auto;
   position: relative;
   z-index: 9999;
}

/* 로고 */

#logo {
   display: inline-block;
   position: absolute;
   width: 109px;
   height: 77px;
   top: 50%;
   transform: translateY(-50%);
}

#logo a {
   display: inline-block;
}
#logo .j_mobileLogo{
   display: none;
}

#allMenu {
   display: none;
}

/* 네비 */

.main_nav {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 640px;
   display: block;
}

.main_nav>li {
   float: left;
}

.main_nav>li>a {
   display: inline-block;
   width: 126px;
   height: 80px;
   line-height: 83px;
   font-size: 16px;
   padding: 0px 10px;
   font-family: 'ng_b';
}

.main_nav>li>a>span {
   text-align: center;
   /* display: inline-block; */
   width: 100%;
   display: inline-block;
   font-size: 22px;
}

.sub_nav {
   background: #e84a36;
   display: inline-block;
   position: absolute;
   height: 30px;
   line-height: 30px;
   display: none;
   margin-left: 34px;
   bottom: -30px;
}

.main_nav>li:nth-child(1):hover .sub_nav, .main_nav>li:nth-child(2):hover .sub_nav, .main_nav>li:nth-child(3):hover .sub_nav {
   display: block;
   z-index: 9999;
}

.main_nav>li:hover>a {
   color: #e84a36;
}

.sub_nav>li:hover>a {
   text-decoration: underline;
}

.sub_nav>li {
   display: inline-block;
}

.sub_nav>li>a {
   display: inline-block;
   height: 15px;
   line-height: 15px;
   border-right: 1px solid #fff;
   padding: 0 25px;
   color: #fff;
}

.sub_nav>li:last-child>a {
   border-right: 1px solid rgba(0, 0, 0, 0);
}

/* 메인네비:인스타, 페이스북 버튼 */

#header_btn {
   clear: both;
   display: inline-block;
   position: absolute;
   top: 50%;
   right: 0;
}

#header_btn>a {
   width: 30px;
   height: 30px;
   display: inline-block;
   margin-left: 5px;
}

/****** 헤더 끝 ******/

/****** 헤더 미디어쿼리 시작 ******/
@media screen and (max-width:640px){
   header{
      height: 51px;
   }
   #j_allWrapper {
      width: 100%;
      max-width: 640px;
   }
   #header_wrapper{
      width: 100%;
      height: inherit;
      margin: 0 auto;
      position: relative;
      z-index: 9998;
   }
   #logo {
      display: inline-block;
      position: absolute;
      width: 124px;
      height: 23px;
      left: 15px;
   }
   #logo a:first-child{
      display: none;
   }
   #logo .j_mobileLogo{
      display: inline-block; !important;

   }
   #logo .j_mobileLogo img{
      width: 124px;
      height: 23px;
   }
   #allMenu{
      display: inline-block;!important;
   }
   #allMenu a{
      color: #fff;
      text-align: center;
   }
   #allMenu>a {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 15px;
   }

   #allMenu>a>img{
      height: 19px;
      width: 26px;
   }

   #allMenu .j_mobile_mainMenu{
      display: none;
   }
   #allMenu .j_mobile_mainMenu.onMainNav{
      display: block;
   }

   #allMenu .j_mobile_mainMenu{
      position: absolute;
      z-index: 9999;
      width:100%;
      top:51px;
   }
   #allMenu .j_mobile_mainMenu>li{
      width: 100%;
      margin: 0 auto;
   }
   #allMenu .j_mobile_mainMenu>li:last-child{
      border: none;
   }
   #allMenu .j_mobile_mainMenu>li>a{
      display: inline-block;
      font-size: 25px;
      height: 50px;
      width: 100%;
      line-height: 50px;
      border-bottom: 1px solid #fff;
      background-color: rgba(232, 74, 54, 0.91);
   }
   #allMenu .j_mobile_mainMenu>li>a>span{
      display: inline-block;
      width: 250px;
   }
   #allMenu .j_mobile_subnav{
      display: none;
      background-color: rgba(206, 60, 42, 0.98);
   }

   #allMenu .j_mobile_subnav>li{
      width: 250px;
      margin: 0 auto;
   }
   #allMenu .j_mobile_subnav>li>a{
      display: inline-block;
      font-size: 18px;
      height: 25px;
      width: 250px;
      line-height: 20px;
   }
   #allMenu .j_mobile_subnav>li>a:first-child{
      padding-top: 10px;
   }
   #allMenu .j_mobile_subnav>li:hover>a{
      text-decoration: underline;
   }
   .main_nav li{
      display: none;
   }
   #header_btn{
      display: none;
   }
}
/****** 헤더 미디어쿼리 끝 ******/


/****** 푸터 시작 ******/

footer {
   background-color: #212121;
   height: 200px;
   position: relative;
}

#j_footerWrapper {
   background-color: #212121;
   color: #5a5a5a;
   font-family: 'ng', dotum, Arial, sans-serif;
   font-size: 12px;
   width: 1000px;
   height: inherit;
   margin: 0 auto;
   position: relative;
}

#j_footerWrapper div {
   position: absolute;
   display: inline-block;
   margin-left: 2%;
   top: 50%;
   transform: translateY(-50%);
}

#j_footerWrapper .j_footerTxt {
   width: 635px;
   left: 49%;
   transform: translateX(-53%);
   top: 82px;
}

#j_footerWrapper .j_footerTxt p {
   margin-top: 1%;
   display: inline-block;
}

#j_footerWrapper .j_footerTxt span {
   margin-top: 10px;
   display: inline-block;
}

#j_footerWrapper .j_footerButton {
   right: 0;
}

#j_footerWrapper .j_footerButton a {
   display: inline-block;
   width: 67px;
   padding-left: 10px;
   height: 25px;
   line-height: 25px;
   background-color: #000;
   font-size: 11px;
   color: #888;
   background: url(../images/ico/bul_01.png) right center no-repeat #151515;
}

/****** 푸터 끝 ******/


@media screen and (max-width:640px){

   #j_footerWrapper {
      font-size: 11px;
      width: 100%;
      height: inherit;
      position: relative;
   }

   #j_footerWrapper div {
      display: inline-block;
      margin-left: 2%;
      top: 0;
      transform: translateY(0);
   }

   #j_footerWrapper .j_footerLogo {
      top: 28px;
   }

   #j_footerWrapper .j_footerLogo img {
      width: 54px;
      height: 38px;
   }

   #j_footerWrapper .j_footerTxt {
      width: 100%;
      box-sizing: border-box;
      padding: 0 0 20px 85px;
      left: 0;
      margin-left: 0;
      transform: translateX(0);
      top: 20px;
   }

   #j_footerWrapper .j_footerTxt p {
      margin-top: 1%;
      display: block;
   }
   #j_footerWrapper .j_footerTxt .j_footerBrHide{
      display: none;
   }

   #j_footerWrapper .j_footerTxt span {
      margin-top: 40px;
      display: block;
   }

   #j_footerWrapper .j_footerButton {
      left: 70px;
      top: 118px;
   }

   #j_footerWrapper .j_footerButton a {
      display: inline-block;
      width: 67px;
      height: 25px;
      background-color: #000;
      font-size: 11px;
      color: #888;
      background: url(../images/ico/bul_01.png) right center no-repeat #151515;
   }
}
