@charset "UTF-8";
.k_contents {
  width: 1000px;
  margin: auto;
  margin-top: 80px;
      margin-bottom: 50px;
  min-height: 1000px;
}

.k_contents::after {
  display: block;
  content: "";
  clear: both;
}

.k_contents_nav {
  width: 320px;
  height: 40px;
  margin: auto;
  margin-bottom: 50px;
}

.k_contents_nav>ul {
  width: 320px;
  height: 38px;
  margin: auto;
}

.k_contents_nav>ul>li {
  width: 160px;
  height: inherit;
  padding: 0 10px 0 10px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 35px;
}

.k_contents_nav>ul>li>a {
  display: block;
  width: 160px;
  font-size: 15px;
}

.menuhover {
  font-size: 17px;
  font-weight: bold;
  border-bottom: 2px solid #ff552e;
}

.mobileImg {
  display: none;
}

@media screen and (max-width: 640px) {
  .mobileImg {
    display: block;
  }
  .desktopImg {
    display: none;
  }
  .k_contents {
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
  }
}
