a {
   color: #1a1a1a;
}
/* header */
header{
   width: 100%;
   height: 106px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#header_wrapper {
   width: 1000px;
   height: inherit;
   margin: 0 auto;
   position: relative;
}
/* 로고 */
#logo {
   display: inline-block;
   position: absolute;
   width: 109px;
   height: 77px;
   top: 50%;
   transform: translateY(-50%);
}

#logo a {
   display: inline-block;
}

#logo a img {}

#allMenu {
   display: none;
}
/* 네비 */
.main_nav {
   position: absolute;
   bottom:0;
   left: 50%;
   transform: translateX(-50%);
   width: 640px;
   display: block;
}

.main_nav>li {
    float: left;
}

.main_nav>li>a {
   display: inline-block;
   width: 126px;
   height: 80px;
   line-height: 83px;
   font-size: 16px;
   padding: 0px 10px;
   font-family: 'ng_b';
}

.main_nav>li>a>span {
   text-align: center;
   /* display: inline-block; */
   width: 100%;
   display: inline-block;
   font-size: 22px;
}

.sub_nav {
   background: #e84a36;
   display: inline-block;
   position: absolute;
   height: 30px;
   line-height: 30px;
   display: none;
   margin-left:34px;
   bottom:-30px;
}
.main_nav>li:nth-child(3) .sub_nav{
   margin-left:0;
}
.main_nav>li:nth-child(1):hover .sub_nav,
.main_nav>li:nth-child(2):hover .sub_nav,
.main_nav>li:nth-child(3):hover .sub_nav{
   display: block;
   z-index: 9999;
}
.main_nav>li:hover>a{
   color: #e84a36;
}
.sub_nav>li:hover>a{
   text-decoration: underline;
}


.sub_nav>li {
   display: inline-block;
}

.sub_nav>li>a {
   display: inline-block;
   height: 15px;
   line-height: 15px;
   border-right: 1px solid #fff;
   padding: 0 25px;
   color: #fff;
}
.sub_nav>li:last-child>a{
   border-right: 1px solid rgba(0, 0, 0, 0);
}

/* 메인네비:인스타, 페이스북 버튼 */
#header_btn {
   clear: both;
   display: inline-block;
   position: absolute;
   top: 50%;
   right: 40px;
}

#header_btn>a {
   width: 30px;
   height: 30px;
   display: inline-block;
   margin-left: 5px;
}

#header_btn>a>img {}

/* section */
section{
   display: block;
   height: 500px;
   background-color: tomato;
}


/* footer */
footer{
   background-color: #212121;
   height: 200px;
   width: 100%;
   position: absolute;
}
#j_footerWrapper{
   color: #5a5a5a;
   font-family: 'ng', dotum, Arial, sans-serif;
   font-size: 12px;
   width: 1000px;
   height: inherit;
   margin: 0 auto;
   position: relative;
}
#j_footerWrapper div{
   position: absolute;
   display: inline-block;
   margin-left: 2%;
   top: 50%;
   transform: translateY(-50%);
}
#j_footerWrapper .j_footerLogo{}
#j_footerWrapper .j_footerLogo img{}
#j_footerWrapper .j_footerTxt{
   width: 635px;
    left: 49%;
    transform: translateX(-53%);
   top: 82px;
}
#j_footerWrapper .j_footerTxt p{
   margin-top: 1%;
}
#j_footerWrapper .j_footerTxt p:first-child{}
#j_footerWrapper .j_footerTxt p:last-child{}
#j_footerWrapper .j_footerTxt span{
   margin-top: 10px;
   display: inline-block;
}
#j_footerWrapper .j_footerButton{
   right: 0;
}
#j_footerWrapper .j_footerButton a{
   display: inline-block;
   width: 67px;
   padding-left: 10px;
   height: 25px;
   line-height: 25px;
   background-color: #000;
   font-size: 11px;
   color: #888;
   background: url(../images/ico/bul_01.png) right center no-repeat #151515;
}
#j_footerWrapper .j_footerButton a:first-child{}
#j_footerWrapper .j_footerButton a:last-child{}
