#j_allWrapper {
   width: 100%;
   min-width: 1000px;
}

/***** 첫번째 슬라이드 시작 *****/

#j_mainSlideFirst {
   overflow: hidden;
   position: relative;
   /* z-index: -1 */
}

#j_mainSlideFirst ul {}

#j_mainSlideFirst ul li {
   float: left;
   display: block;
   /* margin: 0 auto; */
}

#j_mainSlideFirst ul li a {}

#j_mainSlideFirst ul li a img {
   min-width: 1000px;
}

/* 페이징 */

#j_paging {
   position: absolute;
   left: 50%;
   bottom: 13%;
   transform: translate(-50%);
}

#j_paging li {
   display: inline-block;
}

#j_paging li a {
   display: block;
   width: 15px;
   height: 15px;
   background: url(../images/ico/ico_pager1_off.png) no-repeat 0 0;
   font-size: 0;
   text-indent: -99999px;
   opacity: 1;
   z-index: 99999;
   margin: 0 3px;
}

#j_paging li a.j_pagingActive {
   width: 46px;
   background: url(../images/ico/ico_pager1_on.png) no-repeat 0 0;
}

/***** 첫번째 슬라이드 끝 *****/

/****** 두번째 슬라이드 시작 ******/

#j_mainSlideSecond {
   position: relative;
   height: 700px;
}

#j_subject {
   background: url(../images/main/cake_slide_bg_txt.png) no-repeat center top;
   height: 131px;
   margin: 40px 0;
}

#buttons {
   position: relative;
   height: 130px;
   top: 137px;
}

#buttons a {
   position: absolute;
   height: 130px;
   display: inline-block;
   z-index: 1;
}

#buttons a:first-child {
   left: 18%;
}

#buttons a:last-child {
   right: 18%;
}

#buttons a img {}

/*이미지*/

#j_mainSlideSecond .j_SecondSlideImage {}

#j_mainSlideSecond .j_SecondSlideImage li {
   position: absolute;
   z-index: 999;
   top: 8%;
   left: 50%;
   transform: translate(-50%);
   display: none;
}

#j_mainSlideSecond .j_SecondSlideImage li img {}

/*텍스트*/

#j_mainSlideSecond .j_SecondSlideTxt {}

#j_mainSlideSecond .j_SecondSlideTxt li {
   position: absolute;
   width: 600px;
   z-index: 1;
   text-align: center;
   display: none;
   opacity: 0;
   top: 600px;
   right: 50%;
   transform: translateX(50%);
}

#j_mainSlideSecond .j_SecondSlideTxt li p>strong {
   font-size: 30px;
   font-weight: 900;
   font-family: 'ng', dotum, Arial, sans-serif;
}

#j_mainSlideSecond .j_SecondSlideTxt li p:nth-child(2) {
   font-size: 15px;
   padding: 15px 0;
}

#j_mainSlideSecond .j_SecondSlideTxt li a {
   display: block;
   margin-top: 10px;
}

#j_mainSlideSecond .j_SecondSlideTxt li a img {}

#j_bg {
   width: 100%;
   height: 327px;
   background-color: #f6f6f6;
   position: absolute;
   left: 0px;
   bottom: 0px;
}

/****** 두번째 슬라이드 끝 ******/

/****** 마지막 컨텐츠 시작 ******/

#j_mainContentsThird {
   height: 920px;
   padding-top: 100px;
   /* background-color: lightpink; */
}

#j_mainContentsThird_Wrap {
   width: 1008px;
   height: 900px;
   margin: 0 auto;
   position: relative;
}

#j_mainContentsThird_Wrap>div {
   position: absolute;
}

.j_mainContentsThird_first {
   width: 490px;
   left: 0;
   top: 0;
   border: 4px solid #fff0;
}
.j_mainContentsThird_first:hover{
   margin:0;
   border: 4px solid #e84a36;
   transition: 0.4s;
}

.j_mainContentsThird_first a {
   width: 100%;
   overflow: hidden;
   display: block;
   position: relative;
}

.j_mainContentsThird_first a img {
   vertical-align: top;
   border: none;
}

.j_mainContentsThird_first a div {
   box-sizing: border-box;
   display: block;
   width: 100%;
   padding: 30px;
   position: absolute;
   bottom: 0px;
   margin-top: -50px;
   font-size: 16px;
   left-height: 22px;
   color: #fff;
   background: linear-gradient( to bottom, #00000000, #000000cc 95%);
}

.j_mainContentsThird_first a div p {}

.j_mainContentsThird_first a div p:first-child {
   font-family: 'ng_b';
   font-size: 30px;
   line-height: 32px;
   padding-bottom: 10px;
   display: block;
}

.j_mainContentsThird_first a div p:last-child {}

.j_mainContentsThird_second {
   width: 490px;
   right: 0;
   top: 0;
   border: 4px solid #fff0;
}
.j_mainContentsThird_second:hover{
   border: 4px solid #e84a36;
   transition: 0.4s;
}

.j_mainContentsThird_second a {
   display: block;
   position: relative;
   width: 100%;
   overflow: hidden;
}

.j_mainContentsThird_second a img {
   vertical-align: top;
   border: none;
}

.j_mainContentsThird_second a div {
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   padding: 30px;
   bottom: 0px;
   margin-top: -50px;
   text-align: left;
   font-size: 16px;
   line-height: 22px;
   color: #fff;
   background: linear-gradient( to bottom, #00000000, #000000cc 95%);
}

.j_mainContentsThird_second a div p {}

.j_mainContentsThird_second a div p:first-child {
   font-family: 'ng_b';
   font-size: 30px;
   line-height: 32px;
   padding-bottom: 10px;
   display: block;
}

.j_mainContentsThird_second a div p:last-child {}

.j_mainContentsThird_third {
   width: 490px;
   position: absolute;
   left: 0;
   top: 521px;
   border: 4px solid #fff0;
}
.j_mainContentsThird_third:hover{
   border: 4px solid #e84a36;
   transition: 0.4s;
}

.j_mainContentsThird_third a {
   display: block;
   width: 100%;
   overflow: hidden;
   position: relative;
}

.j_mainContentsThird_third a img {
   vertical-align: top;
   border: 0;
}

.j_mainContentsThird_third a div {
   display: block;
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   padding: 30px;
   bottom: 0;
   font-size: 16px;
   color: #fff;
   background: linear-gradient( to bottom, #00000000, #000000cc 95%);
}

.j_mainContentsThird_third a div p {}

.j_mainContentsThird_third a div p:first-child {
   font-family: 'ng_b';
   font-size: 28px;
   line-height: 32px;
   color: #fff;
   padding-bottom: 10px;
   display: block;
}

.j_mainContentsThird_third a div p:last-child {}

.j_mainContentsThird_fourth {
   width: 490px;
   position: absolute;
   right: 8px;
   top: 355px;
   overflow: hidden;
}

.j_mainContentsThird_fourth .news {
   display: block;
   position: relative;
   float: left;
   width: 239px;
   border: 4px solid #fff0;
}
.j_mainContentsThird_fourth .news:hover{
   transition: 0.4s;
   border: 4px solid #e84a36;
}

.j_mainContentsThird_fourth .news img {
   vertical-align: top;
   border: 0px;
}

.j_mainContentsThird_fourth .news div {
   display: block;
   padding-top: 13px;
   font-size: 14px;
   color: #4a4a4a;
   line-height: 18px;
}

.j_mainContentsThird_fourth .news div p {}

.j_mainContentsThird_fourth .news div p:first-child {
   font-family: 'ng_b';
   font-size: 28px;
   line-height: 35px;
   color: #000000;
   padding-bottom: 10px;
   display: block;
}

.j_mainContentsThird_fourth a div p:last-child {}

.j_mainContentsThird_fourth .store {
   display: block;
   position: relative;
   float: right;
   width: 239px;
   height: 467.8px;
   /* border: 4px solid #fff0; */
}
.j_mainContentsThird_fourth .store .j_imgBox:hover{
   transition: 0.4s;
   border: 4px solid #e84a36;
}

.j_mainContentsThird_fourth .store .j_imgBox {
   display: block;
   padding-top: 105px;
   border: 4px solid #fff0;
}

.j_mainContentsThird_fourth .store img {
   display: block;
   vertical-align: top;
   border: 0px;
}

.j_mainContentsThird_fourth .store div {
   position: absolute;
   left: 0px;
   top: 0px;
   /* padding-top: 17px; */
   display: block;
   /* height: 71px; */
   font-size: 14px;
   color: #4a4a4a;
   line-height: 18px;
}

.j_mainContentsThird_fourth .store div p {}

.j_mainContentsThird_fourth .store div p:first-child {
   font-family: 'ng_b';
   font-size: 30px;
   line-height: 32px;
   color: #000000;
   padding-bottom: 10px;
   display: block;
}

.j_mainContentsThird_fourth .store div p:last-child {}

/****** 마지막 컨텐츠 끝 ******/



/********미디어 스크린************/
@media screen and (max-width: 640px){
   #j_allWrapper {
      width: 100%;
      min-width:100px;
      max-width: 640px;
   }
   #j_mainSlideFirst, #j_mainSlideSecond{
      display: none;
   }
   header, footer{
      display: none;
   }

   /****** 마지막 컨텐츠 시작 ******/

   #j_mainContentsThird {
      height: auto;
      max-width: 640px;
    width: 100%;
    padding-top: 100px;
      /* background-color: lightpink; */
   }

   #j_mainContentsThird_Wrap {
      width: 100%;
    height: auto;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
   }

   #j_mainContentsThird_Wrap>div {
      position: relative;
   }

   .j_mainContentsThird_first {
      width: auto;
    max-width: 640px;
    left: inherit;
    top: inherit;
    padding: 0 15px;
    margin-bottom: 15px;
      border: 4px solid #fff0;
   }
   .j_mainContentsThird_first:hover{
      margin-bottom:15px;
      border: 4px solid #e84a36;
      transition: 0.4s;
   }

   .j_mainContentsThird_first a img {
      width: 100%;
      vertical-align: top;
      border: none;
   }


   .j_mainContentsThird_second {
      width: auto;
    right: inherit;
    top: inherit;
    border: 4px solid #fff0;
    padding: 0 15px;
    margin-bottom: 30px;
   }
   .j_mainContentsThird_second:hover{
      border: 4px solid #e84a36;
      transition: 0.4s;
   }



   .j_mainContentsThird_second a img {
      vertical-align: top;
      border: none;
      width:100%;
   }

   .j_mainContentsThird_second a div {
      display: block;
    position: absolute;
    width: 100%;
    padding: 30px;
    margin-top: -50px;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
      background: linear-gradient( to bottom, #00000000, #000000cc 95%);
   }

   .j_mainContentsThird_third {
      width: auto;
      padding: 0 15px;
      margin-bottom: 30px;
      left: inherit;
      top: inherit;
      border: 4px solid #fff0;
   }
   .j_mainContentsThird_third:hover{
      border: 4px solid #e84a36;
      transition: 0.4s;
   }

   .j_mainContentsThird_third a img {
      vertical-align: top;
      border: 0;
      width: 100%;
   }

   .j_mainContentsThird_fourth {
      width: auto;
      padding: 0;
      margin-bottom: 30px;
      position: relative;
      right: inherit;
      top: inherit;
      overflow: hidden;
   }

   .j_mainContentsThird_fourth .news {
      width: 47%;
   }
   .j_mainContentsThird_fourth .news:hover{
      transition: 0.4s;
      border: 4px solid #e84a36;
   }

   .j_mainContentsThird_fourth .news img {
      width: 100%;
      vertical-align: top;
      border: 0px;
   }

   .j_mainContentsThird_fourth .news div {
      display: block;
      padding:9px 10px 0 0;
      font-size: 14px;
      color: #4a4a4a;
      line-height: 18px;
   }

   .j_mainContentsThird_fourth .store {
      width: 47%;
      /* border: 4px solid #fff0; */
   }
   /* .j_mainContentsThird_fourth .store:hover{
      transition: 0.4s;
      border: 4px solid #e84a36;
   } */

   .j_mainContentsThird_fourth .store .j_imgBox {
      width: 100%;
      display: block;
      padding-top: 0;
   }

   .j_mainContentsThird_fourth .store img {
      display: block;
      width:100%;
      padding-top: 86px;
      vertical-align: top;
      border: 0px;
   }

   .j_mainContentsThird_fourth .store div {
      position: absolute;
      left: 0px;
      top: 0px;
      /* padding-top: 17px; */
      display: block;
      height: 71px;
      font-size: 14px;
      color: #4a4a4a;
      line-height: 18px;
   }

   /****** 마지막 컨텐츠 끝 ******/
}
